.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 10%;
    padding-left: 25%;
    padding-right: 25%;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    padding: 5% 5% 5% 5%;
}

.modal-element{
    margin: 2% 2% 2% 2%;
}

td {
    white-space: normal !important; 
    word-wrap: break-word;  
  }

table {
    table-layout: fixed;
}

#btnSubmit{
    position: relative;
    width: 50%;
    left: 25%;
    margin-top: 1.5rem; 
}

label.error{
    color: red;
    /* border:1px solid #6b0b1a; */
    margin-left: -3px;
    margin-right: 2px;
    padding:1px 5px 1px 5px;
    font-size: small;
}   

@media (min-width:1000px) { 
	.container{
		width: 60% !important;
		margin-top: 5px;
		margin-bottom: 5px;
	}
}